# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production / Build
dist/
dist-electron/
release/
release2/
release3/
release4/
build/
!packages/native-input/build/
*.exe
*.zip
*.dmg
*.AppImage

# Misc
.DS_Store
*.pem


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# User Data / Caches
appData/
C:\RemoteLinkViewer/
.remote-link/
.vscode/
.antigravity/
.env
.env.*
generated/
